---
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import TwoGridLayout from "@layouts/TwoGridLayout.astro";
import getUniqueTags from "@utils/getUniqueTags";
import Posts from "@components/Posts.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tags = getUniqueTags(posts);
---

<BaseLayout description="All my posts in one place" title="Blog | Tomáš Kebrle">
  <TwoGridLayout>
    <section class="self-start">
      <a href="/" class="text-tertiary hover:underline">cd ~/</a>
      <h1 class="text-5xl text-primary font-serif mb-4 mt-2">Blog</h1>
      <Posts posts={posts} />
    </section>

    <section class="self-start md:order-last order-first">
      <br />
      <h1 class="text-5xl text-primary font-serif mb-4">Tags</h1>
      <ul>
        {
          tags.map((tag: string) => (
            <li class="py-1">
              <a href={`/tags/${tag}/`}>
                <h3 class="text-tertiary hover:underline">#{tag}</h3>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </TwoGridLayout>
</BaseLayout>
