---
import BlogPost from "@layouts/BlogPost.astro";
---

<BlogPost
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
  heroImage="/placeholder-about.jpg"
>
  Hello I am a 17 year old programmer, web-developer and designer from Czech
  Republic. I study there on a Grammar school, but all my programmer knowledge
  is entirely self-taught. <br />
  Most of my skills are in frontend web-development, but recently I have been learning
  backend languages, to improve. I run Linux on my machine, Fedora to be specific,
  and I use VSCode to do my programming.
  <br /> I am also a <a href="/dofe.pdf">DoFE bronze award holder</a>, and I am currently working on the
  silver lever. Aside from programming I also like to do Linux and DevOps stuff,
  and setting up various servers, for games me and my friends want to play.
</BlogPost>
