---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<header>
  <div class="flex w-full overflow-hidden gap-4 items-center">
    <h1 class="text-lg text-l/primary dark:text-d/primary">
      {title}
    </h1>
    <img
      src="./mesh.png"
      alt="mesh gradient"
      class="max-h-[1.125rem] flex-grow"
    />
  </div>
  <p class="text-sm text-l/tertiary dark:text-d/tertiary">{description}</p>
</header>
