---
import FormattedDate from "./FormattedDate.astro";

interface Props {
  posts: Array<any>;
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-4 hover:translate-x-1 duration-300">
        <a href={`/blog/${post.slug}/`}>
          <div class="flex items-center gap-">
            <h3 class="text-xl">{post.data.title}</h3>
          </div>
          <FormattedDate date={post.data.pubDate} />
          <p class="text-tertiary">{post.data.description}</p>
        </a>
      </li>
    ))
  }
</ul>
