---
import BaseHead from "@layouts/BaseHead.astro";

export interface Props {
  title: string;
  description: string;
  image?: string;
  children: any;
}

const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <slot />
  </body>
</html>
